doctype
html
    head
        title Admin Page
        link(rel='stylesheet', href='../styles/style.css' type='text/css')
    body
    div
        h3 List of Users

        table(class='gridtable customTable')
            tr
                th Id
                th Name
                th 
            each item in library
                tr
                    td #{item.id}
                    td #{item.username}
                    td
                        a(href='/delete/' + item.id) Delete
