doctype html
html
  head
    title The Data Express
    link(rel='stylesheet', href='styles/style.css' type='text/css')
  body
  .navbar
    ul
      li
        a.active(href='/') Home
      li 
        a(href='/') Login 
  div
    h1 Create Account
    form(id='createForm', method='post', action='/createAccount')
        label(for='access_level') Access Level: 
        input(type='text', name='access_level', value='Regular', readonly='')
        br
        br
        label(for='username') Username: 
        input(type='text', name='username', required='')
        br
        br
        label(for='password') Password: 
        input(type='text', name='password', required='')
        br
        br
        label(for='email') Email: 
        input(type='text', name='email', required='')
        br
        br
        label(for='age') Age: 
        input(type='number', name='age', required='')
        br
        br
        div
            | What is your favorite color? 
            br
            input(name='colorQ', type='radio', value='Red')
            | Red
            br
            |  
            input(name='colorQ', type='radio', value='Blue')
            | Blue
            br
            |  
            input(name='colorQ', type='radio', value='Green')
            | Green
            br
            br
            div
            | What is your degree? 
            br
            input(name='degreeQ', type='radio', value='Web')
            | Web Dev
            br
            |  
            input(name='degreeQ', type='radio', value='CS')
            | Computer Science
            br
            |  
            input(name='degreeQ', type='radio', value='IS')
            | Information Systems
            br
            br
            div
            | Which do you prefer? 
            br
            input(name='petQ', type='radio', value='Dog')
            | Dog
            br
            |  
            input(name='petQ', type='radio', value='Cat')
            | Cat
            br
            br
            input(type='submit', value='Create Account')