doctype html
html
  head
    title The Data Express
    link(rel='stylesheet', href='../styles/style.css' type='text/css')
  body
  div
    h1 Edit Account
    form(id='createForm', method='post', action='/edit')
        label(for='username') Username: 
        input(type='text', name='username')
        br
        br
        label(for='password') Password: 
        input(type='text', name='password')
        br
        br
        label(for='email') Email: 
        input(type='text', name='email')
        br
        br
        label(for='age') Age: 
        input(type='number', name='age')
        br
        br
        input(type='submit', value='Edit Account')