doctype html
html
  head
    title The Data Express
    link(rel='stylesheet', href='../styles/style.css' type='text/css')
  body
  .navbar
    ul
      li
        a.active(href='/') Home
  div
    h1 Edit Account
    form(id='createForm', method='post', action='/edit/' + user.id)
        label(for='username') Username: 
        input(type='text', name='username' value=user.username)
        br
        br
        //- label(for='password') Password: 
        //- input(type='text', name='password' value=user.password)
        //- br
        //- br
        label(for='email') Email: 
        input(type='text', name='email' value=user.email)
        br
        br
        label(for='age') Age: 
        input(type='number', name='age' value=user.age)
        br
        br
        input(type='submit', value='Edit Account')