doctype html
html
  head
    title The Data Express
    link(rel='stylesheet', href='styles/style.css' type='text/css')
  body
    h1 Welcome to The Data Express!
    canvas(style='', width='200', height='100')